<%= content_for :page, 'short' %>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<%= image_tag "about.png", class: "img-responsive" %>
	</div>
</div>
<h4 class="blue header">Watch how five stars deal with unbelievable pressures of the game and life.</h4>
<div class="row">
	<p class="col-md-6">
		Genissit, arum dolor asincto veribea arum, comnis magnimaxim eosserf ereptatem nime nectatus et aut quiaerrum audissit re, venis niet modi consequ iscium de molorias doluptatur 
aut eatis ius quidus sequaeperum nus suntius vendit aci untum re isquaspis dolent quodit fugiatis ea nihillab illa voloribus ium voluptatios repeliquiae accab iliame dolorru menime inciis alit omnis vercipsam quasinu llabo. Qui dere exceaque nonsequat.
	</p>
	<p class="col-md-6">
		Pient endi velendi omnita doluptas simil expedi non consedi ciisin cus ipsam, toriae lanist quo mo maion pa enis res pe poressi dolupta tiorest ionsero to et voluptiae corum et utem aturi.
	</p>
</div>