<%= content_for :page_title, "#{t 'seperator'} #{t 'menu.share'}" %>
<%= content_for :page, 'short' %>
<div class="text-center">
	<h2>Help us share The Prize: Under Pressure!</h2>
	<h4>Sample Tweet #1</h4>
	<p>How much pressure does a professional footballer feel? Watch here to find out: www.theprize.com #WorldCup2014 #ThePrize14</p>
	<h4>Sample Tweet #2</h4>
	<p>Do you love the #WorldCup ? Watch 5 football players share their story at theprize.com #ThePrize14</p>
	<br>
	<h2>The following players featured in the Prize Under Pressure are on twitter.  Let them know how much you enjoyed their story!
	<br>
	<div class="col-sm-4">
		<h2 class="blue">KAKÁ</h2>
		<h2 class="gray">
			<a href="https://twitter.com/KAKA" target="_blank"><span class="fa-stack"><i class="fa fa-circle-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a>
			<a href="http://instagram.com/kaka" target="_blank"><span class="fa-stack"><i class="fa fa-circle-o fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x"></i></span></a>
		</h2>
	</div>	
	<div class="col-sm-4">
		<h2 class="blue">Enoh</h2>
		<h2 class="gray">
			<a href="https://twitter.com/enoh_eyong" target="_blank"><span class="fa-stack"><i class="fa fa-circle-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a>			
		</h2>
	</div>
	<div class="col-sm-4">
		<h2 class="blue">Guzan</h2>
		<h2 class="gray"">
			<a href="https://twitter.com/bguzan" target="_blank"><span class="fa-stack"><i class="fa fa-circle-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a>
			<a href="http://instagram.com/bguzan" target="_blank"><span class="fa-stack"><i class="fa fa-circle-o fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x"></i></span></a>
		</h2>
	</div>
	<div class="col-sm-4">
		<h2 class="blue">Falcao</h2>
		<h2 class="gray"">
			<a href="https://twitter.com/falcao" target="_blank"><span class="fa-stack"><i class="fa fa-circle-o fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x"></i></span></a>
			<a href="http://instagram.com/falcao" target="_blank"><span class="fa-stack"><i class="fa fa-circle-o fa-stack-2x"></i><i class="fa fa-instagram fa-stack-1x"></i></span></a>
		</h2>
	</div>
</div>

<!--
<br>
<hr>
<div class="showbullets">
<p>With the World Cup starting June 12th, how can you "get into the game"? Here are some ways to help promote the The Prize: Under Pressure.  Hosted by Youtube, this literally can be seen all over the globe and has a chance to go viral with your help!</p>
<ul>
	<li>Share the website with everyone you know (email, blogs, etc.)</li>
	<li><ul>
		<li>http://www.theprize.com </li>
		<li>Embed the video onto your own website, blog, etc.  </li>
		</ul>
	<li>Follow us on Facebook, share with your network  and “like” https://facebook.com/ThePrize</li>
	<li>Follow us on Twitter and retweet to your followers encouraging them to do the same https://twitter.com/theprizefilm</li>
	<li>Download the free Jesus Film App on for your mobile device/iPad.  Great ways to share this with others.</li>
		<li><ul>
		<li>http://app.jesusfilmmedia.org/</li>
		<li>Your in a cab/elevator/restaurant/just doing life, etc. and you notice the person may speak another language other than English.  “I notice your Indian accent, what language do you speak?  I speak Bengali.  Excellent.  I have this great soccer film right here on my phone in Bengali, your heart language. If you don’t mind giving me your email address, I can share this with you right now!  Wow, thanks so much!
Give out some DVD’s to your neighbors, friends, co-workers, family members who might never step foot into at church, but would watch a soccer film with tons of great action in it.  
</li>
		</ul>
	<li>Kids play soccer?  What about an end of the year gift for the team?  Order a DVD from: http://www.aiagear.com/c-35-dvds.aspx</li>
	<li>How about reaching the whole league?  Get trading cards: http://www.aiagear.com/c-74-trading-cards.aspx	</li>

</ul>
</div>
-->
