<%= content_for :page_title, "#{t 'seperator'} #{t 'menu.falcao'}" %>
<%= content_for :page, 'short' %>
<div>  
  <!-- Spanish, Portuguese, English -->
  <h2 class="blue">The True Prize: 5 footballers share their story <!--falcao.language --></h2>
  <div class="videoWrapper">
  	<iframe width="640" height="360" src="//www.youtube.com/embed/AmTIRFORW38" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
