<%= content_for :page_title, '- Enoh' %>
<div class="video-container">
	<iframe width="500" height="281" src="//player.vimeo.com/video/90343478" frameborder="0" allowfullscreen=""></iframe>
</div>
<%= render 'stars_menu' %>
<hr>
<div class="profile">
	<h1 class="blue">Enoh</h1><h3>Cameroon</h3>
	<div class="row">
		<div class="col-md-6">
			<p>Talking about pressure which we encounter, I believe this pressure is for everybody. I believe everyone at every level goes through some pressure. The same at different stages. Now for me personally having this pressure is just trusting the Lord. The Bible says “Cast your cares on him for he cares”. When I understand that the life I am living is no more my own. It is a life he has died for. He has exchanged his life for my life and has given me a life of peace and a life of joy to life for, then I live beyond myself. I live beyond what people say, beyond what people think. I focus more on what the Lord says about me.</p>
		</div>
		<div class="col-md-6">
			<p>“... a friend of mine from school spoke to me about the Lord Jesus. ... and it just came to me like reality. He talked to my heart, he touched my heart and the gospel became very real to me. Ever since that day, I have just been in love with Jesus.”</p>
			<h2 class="text-left gray"><%= fa_stacked_icon "twitter", base: "circle-o" %><%= fa_stacked_icon "instagram", base: "circle-o" %></h2>
		</div>
	</div>
</div>