<%= content_for :page_title, "#{t 'seperator'} #{t 'flow.christian.page_title'}" %>
<%= content_for :page, 'short' %>
<div class="profile">
	<h2><%= t 'flow.christian.title' %></h2><h4 class="blue"><%= t 'flow.christian.subtitle' %></h4>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		SHARING STUFF GOES HERE
	</div>
</div>