<%= content_for :page, 'short' %>
<div class="profile">
	<h2>That's Awesome</h2><h4 class="blue">Share this with your friends now</h4>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		SHARING STUFF GOES HERE
	</div>
</div>