
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=344474969028297";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%= content_for :page, 'short' %>
<div class="profile">
	<h2>That's Awesome</h2><h4 class="blue">Share this with your friends now</h4>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		SHARING STUFF GOES HERE
	</div>
</div>