<%= content_for :page, 'short' %>
<h3 class="blue">Did you pray to begin a relationship with God?</h3>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<a href="<%= page_path('flow/challenge') %>" class="btn btn-lg btn-default btn-block">Yes</a>
		<a href="<%= page_path('flow/thanks') %>" class="btn btn-lg btn-default btn-block">No</a>
		<a href="<%= page_path('flow/christian') %>" class="btn btn-lg btn-default btn-block">I'm already a Christian</a>
	</div>
</div>