<%= content_for :page_title, '- Thanks' %>
<%= content_for :page, 'short' %>
<div class="profile">
	<h2>Thanks for watching the prize</h2><h4 class="blue">You have told us that you don't want to follow Jesus</h4>
</div>
<div class="row">
	<div class="col-md-12 text-center">
		If you have any questions you can find answers at <a href="http://www.everystudent.com">everystudent.com</a>
	</div>
</div>